/* You can add global styles to this file, and also import other style files */
* {
  font-size: 18px;
}

h1 {
  font-size: 2em;
}

form {
  text-align: center;
}

form > input {
  margin-bottom: 1em;
}

button[disabled] {
  cursor: not-allowed;
}
